## Preprocessing

In [1]:
# variables that are dropped
from helper_functions import format_variables, read_data

data_df = read_data()

to_filter = ["id", "postleitzahl", "gemeinde", "bezirk", "geburtsjahr"]
data_df, cat_feat_list, num_feat_list = format_variables(data_df, to_filter=to_filter, drop_values=True)

c:\Users\Amirreza\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [2]:
data_df

,zeit,terminal,bundesland,befinden,geschlecht,raucher,blutzucker_bekannt,cholesterin_bekannt,in_behandlung,schaetzwert_bp_sys,...,messwert_bp_sys,messwert_bp_dia,age,month,hour,day,temp,humidity,temp_min,temp_max
0,2006-07-08,1,Steiermark,1,f,False,False,True,False,110.0,...,98.0,78.0,33,7,14,8,21.0,76.9,15.8,29.1
1,2006-05-07,1,Steiermark,1,f,False,True,True,False,120.0,...,115.0,85.0,24,5,16,7,12.8,71.5,7.6,17.1
2,2006-10-20,2,Steiermark,1,f,True,True,True,True,145.0,...,117.0,76.0,46,10,14,20,10.3,86.8,4.1,18.1
3,2006-10-01,1,Steiermark,2,f,False,False,False,False,120.0,...,128.0,87.0,36,10,17,1,16.6,81.2,10.1,25.1
4,2006-08-03,3b,Steiermark,1,m,False,False,False,False,128.0,...,164.0,89.0,64,8,11,3,15.4,95.8,12.3,18.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14826,2006-08-03,1,Steiermark,3,m,False,False,True,False,135.0,...,157.0,91.0,47,8,16,3,15.4,95.8,12.3,18.1
14827,2006-08-04,2,Steiermark,2,m,False,True,True,True,140.0,...,111.0,90.0,49,8,16,4,14.7,88.4,10.8,19.1
14828,2006-08-03,2,Niederösterreich,2,m,False,False,False,False,130.0,...,119.0,99.0,46,8,16,3,15.4,95.8,12.3,18.1
14829,2006-08-16,2,Steiermark,2,m,True,False,False,False,120.0,...,153.0,94.0,47,8,11,16,17.9,74.9,11.5,25.1
14830,2006-06-09,1,Steiermark,2,f,False,False,False,False,110.0,...,116.0,75.0,36,6,14,9,14.1,63.9,5.4,20.1

In [3]:
# Categorical features
cat_feat_list

['zeit',
 'terminal',
 'bundesland',
 'befinden',
 'geschlecht',
 'raucher',
 'blutzucker_bekannt',
 'cholesterin_bekannt',
 'in_behandlung']

In [4]:
import pandas as pd
import numpy as np
# Transform zeit to pandas datetime format:
data_df["zeit"] = pd.to_datetime(data_df["zeit"])

# Extract the month and the hour  from the zeit variable:
data_df["month"] = data_df["zeit"].dt.month
data_df["hour"] = data_df["zeit"].dt.hour

data_df

,zeit,terminal,bundesland,befinden,geschlecht,raucher,blutzucker_bekannt,cholesterin_bekannt,in_behandlung,schaetzwert_bp_sys,...,messwert_bp_sys,messwert_bp_dia,age,month,hour,day,temp,humidity,temp_min,temp_max
0,2006-07-08,1,Steiermark,1,f,False,False,True,False,110.0,...,98.0,78.0,33,7,0,8,21.0,76.9,15.8,29.1
1,2006-05-07,1,Steiermark,1,f,False,True,True,False,120.0,...,115.0,85.0,24,5,0,7,12.8,71.5,7.6,17.1
2,2006-10-20,2,Steiermark,1,f,True,True,True,True,145.0,...,117.0,76.0,46,10,0,20,10.3,86.8,4.1,18.1
3,2006-10-01,1,Steiermark,2,f,False,False,False,False,120.0,...,128.0,87.0,36,10,0,1,16.6,81.2,10.1,25.1
4,2006-08-03,3b,Steiermark,1,m,False,False,False,False,128.0,...,164.0,89.0,64,8,0,3,15.4,95.8,12.3,18.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14826,2006-08-03,1,Steiermark,3,m,False,False,True,False,135.0,...,157.0,91.0,47,8,0,3,15.4,95.8,12.3,18.1
14827,2006-08-04,2,Steiermark,2,m,False,True,True,True,140.0,...,111.0,90.0,49,8,0,4,14.7,88.4,10.8,19.1
14828,2006-08-03,2,Niederösterreich,2,m,False,False,False,False,130.0,...,119.0,99.0,46,8,0,3,15.4,95.8,12.3,18.1
14829,2006-08-16,2,Steiermark,2,m,True,False,False,False,120.0,...,153.0,94.0,47,8,0,16,17.9,74.9,11.5,25.1
14830,2006-06-09,1,Steiermark,2,f,False,False,False,False,110.0,...,116.0,75.0,36,6,0,9,14.1,63.9,5.4,20.1

In [5]:
data_df.loc[(data_df["month"].astype('int') <= 6) & (data_df["terminal"] == 3), "terminal"] = "3a"
data_df.loc[(data_df["month"].astype('int') > 6) & (data_df["terminal"] == 3), "terminal"] = "3b"
data_df

,zeit,terminal,bundesland,befinden,geschlecht,raucher,blutzucker_bekannt,cholesterin_bekannt,in_behandlung,schaetzwert_bp_sys,...,messwert_bp_sys,messwert_bp_dia,age,month,hour,day,temp,humidity,temp_min,temp_max
0,2006-07-08,1,Steiermark,1,f,False,False,True,False,110.0,...,98.0,78.0,33,7,0,8,21.0,76.9,15.8,29.1
1,2006-05-07,1,Steiermark,1,f,False,True,True,False,120.0,...,115.0,85.0,24,5,0,7,12.8,71.5,7.6,17.1
2,2006-10-20,2,Steiermark,1,f,True,True,True,True,145.0,...,117.0,76.0,46,10,0,20,10.3,86.8,4.1,18.1
3,2006-10-01,1,Steiermark,2,f,False,False,False,False,120.0,...,128.0,87.0,36,10,0,1,16.6,81.2,10.1,25.1
4,2006-08-03,3b,Steiermark,1,m,False,False,False,False,128.0,...,164.0,89.0,64,8,0,3,15.4,95.8,12.3,18.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14826,2006-08-03,1,Steiermark,3,m,False,False,True,False,135.0,...,157.0,91.0,47,8,0,3,15.4,95.8,12.3,18.1
14827,2006-08-04,2,Steiermark,2,m,False,True,True,True,140.0,...,111.0,90.0,49,8,0,4,14.7,88.4,10.8,19.1
14828,2006-08-03,2,Niederösterreich,2,m,False,False,False,False,130.0,...,119.0,99.0,46,8,0,3,15.4,95.8,12.3,18.1
14829,2006-08-16,2,Steiermark,2,m,True,False,False,False,120.0,...,153.0,94.0,47,8,0,16,17.9,74.9,11.5,25.1
14830,2006-06-09,1,Steiermark,2,f,False,False,False,False,110.0,...,116.0,75.0,36,6,0,9,14.1,63.9,5.4,20.1

In [16]:
terminal_names = ["1", "2",
               "3a", "3b"]
terminal = []*4
for i in terminal_names:
    terminal.append(len(data_df[data_df["terminal"]==i]))

terminadf = pd.DataFrame({"Terminal":terminal_names,"Numbers":terminal})
terminadf
print(terminadf.to_latex())

\begin{tabular}{llr}
\toprule
{} & Terminal &  Numbers \\
\midrule
0 &        1 &     5699 \\
1 &        2 &     4655 \\
2 &       3a &     1397 \\
3 &       3b &     3080 \\
\bottomrule
\end{tabular}

C:\Users\Amirreza\AppData\Local\Temp\ipykernel_5216\2956741138.py:12: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(terminadf.to_latex())